name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python app
        run: |
          python3 -m venv venv
          source venv/bin/activate
          # Skip requirements if none exist
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python src/addition.py
