name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy directly on EC2
        run: |
          cd /var/www/myapp
          git pull origin main
          npm install
          pm2 restart myapp
